body {
  width: 420px;
  min-height: 600px;
  margin: 0;
  padding-right:0!important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.87)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  position: relative;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #DDDDDD;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #595959;
}
.Toastify__toast-container {
  left:50%;
  z-index: 9;
}
.Toastify__toast{
  top:65px;
  margin: 0px 30px;
  padding:15px;
  font-size: 14px;
  min-height: 55px;
  border-radius: 4px;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
}
.Toastify__close-button {
  align-self: center;
}
